<!doctype html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Component: Media Object</title>
        <link rel="stylesheet" href="../Assets/Styles/base.css">
        <link rel="stylesheet" href="../Assets/Styles/object-media.css">
    </head>
    <body>
        <section class="container">
            <h2>Media Object</h2>

            <h3>Standard</h3>        
            <div class="media push--bottom">
                <img src="http://placekitten.com/200/300" class="media__img">
                <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <h3>Reversed Image</h3>        
            <div class="media push--bottom">
                <img src="http://placekitten.com/200/300" class="media__img--rev">
                <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <h3>Responsive</h3>
            <p>A component can't be automatically made 'responsive'. This is the job of testers and developers to review how a component looks on different devices.</p>
            <p>The tester will advise where a component's design appears to break and the developer will apply appropriate rules to correct the design at that break-point.</p>
            <p>This same process has been applied below</p>
            <p>So for example, when we set the display down to 320px wide the design breaks and so the developer implements a fix within the code, which you'll if it has been applied if you can see a red border around the images and they are set to be 50% of the screen width, making the text more readable.</p>
            <div class="media media--res push--bottom">
                <img src="http://placekitten.com/200/300" class="media__img">
                <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="media media--res">
                <img src="http://placekitten.com/200/300" class="media__img--rev">
                <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </section>
    </body>
</html>